
@font-face {
  font-family: 'PuradakGentleGothicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 10px;
  font-family: "KyoboHandwriting2020A";
}


div.main_top {
  height: 4vh;
  font-size: 30px;
  background-color: rgb(241, 240, 240);
  padding-bottom: 50px;
}

/* section 분할 */
section {
  display: flex;
  width: 100%;
  height: 95vh;
}

section > div {
  height: 100%;
}

section > div:nth-of-type(1){
  width: 600px;

}
section > div:nth-of-type(2){
  flex: 1;
  border: #000;
  z-index: 1;
}
section > div:nth-of-type(3){
  width: 400px;
  overflow: auto;
}

span.ledLabel {
  border: #000;
}

/* 카테고리 */

.category-title {
  font-size: 3.5rem;
}

.category-list {
  display: flex;
  justify-content: center;
}

.category-item {
  width: 25%;
  height: 5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.category-item:hover {
  color: #e69a06;
  cursor: pointer;
}

/* 인포윈도우 css */

.infowindow {
  width: 25rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.infowindow-img {
  width: 100%;
}

.infowindow-stationName {
  font-size: 1.5rem;
}

.infowindow-addr {
  font-size: 1rem;
}

.infowindow-dateTme {
  font-size: 1rem;
}

.infowindow-o3Value {
  font-size: 1rem;
}
.infowindow-pm10Value {
  font-size: 1rem;
}

.infowindow-pm25Value {
  font-size: 1rem;
}



/* 탭메뉴 */

ul.tabs{
  background-color: #e3e3e9c4;
  color: black(236, 240, 247);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
 
}

ul.tabs li{
display: flex;
  /* justify-content: space-between;
  width: 380px;
  heigth: 30px; */
  width: calc(100% /3);
  padding: 10px;
  font-size: 15px;
  transition: 0.5s;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

ul.tabs li.current{
background: #1404fa;
color: white;
}

.tab-content{
display: none;

}

.tab-content.current{
display: inherit;
}





/* tab1 표만들기 */


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.tab-1 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  
}

 table.tab-1 {
  width: 100%;
  height: calc(100%);
  border-spacing: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  
} 




th, td {
  text-align: left;
  padding: 30px;
  font-size: 1.4rem;
  font-family: "KyoboHandwriting2020A";
}

tfoot tr { background: none; }

tfoot td {
  padding: 12px 2px;
  font-style: italic;
  color: #8a97a0;
}
.category {
    
    width: 160px;
  } 

table {
  border: 1px #a39485 solid;

  width: 100%;

  overflow: hidden;
  

}

  
 


/* 분전함 css */


form fieldset {
  margin: 10px 0px;
}

form legend {
  font-size: 18px;
  color: #0066ff;
  font-weight: 600;
}

form label.reg {
  font-size: 14px;
  width: 120px;
  float: left;
}

form label em {
  font-size: 15px;
  color: red;
  font-weight: 800;
}

form ul li {
  list-style: none;
}

form fieldset.sendform {
  text-align: center;
}



div.ictInfo {
  width: 100%;
  height: 100%;
  
  border: 1px solid #000;
}
div.ictInfo_left {
  width: 35%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  
  background: white;
  border: 1px solid black;
}

div.ictInfo_right {
  width: 65%;
  height: 100%;
  float: right;
  box-sizing: border-box;
}

div.led_total {
  width:100%;
  height: 30%;
}

div.station_total {
  border: 1px solid black;
}

div.total_title {
  height: 30px;
  background-color: #04326d;
  font-size: 1.8rem;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.led_refresh{
  position: relative;
  margin-top: 3px;
  background-color:#04326d;
  float: right;
  border: none;
  cursor: pointer;
}

span.signed_hidden {
  font-size: 20px;
  float: right;
  margin-top: 10px;
}

button.saveLocat {
  float : left;
}
button.station_refresh{
  position: relative;
  float: right;
  margin-top: 3px;
  background-color:#04326d;
  border: none;
  cursor: pointer;
}


button.station_refresh:hover{
  background-color: #8aafdf;
}

button.led_refresh:hover{
  background-color: #8aafdf;
}



div.right_top{
  width: 100%;
  height: 50%;
  float: top;
  box-sizing: border-box;

}


div.right_bottom{
  width: 100%;
  height: 50%;
  float: bottom;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}


select{
  width: 100%;
  height: 100%
}

#panel_1 {
  
}
/* 우클릭 드롭다운 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  visibility: hidden;
  position: absolute;
  width: 140px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  z-index: 2;
}

.wrapper .menu{
  padding: 10px 12px;
}
.content .item{
  list-style: none;
  font-size: 2rem;
  height: 3rem;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0 3px 0 5px;
  justify-content: space-between;
  align-items: center;

}
.content .item:hover{
  background: #f2f2f2;
}
.content .item div{
  margin-left: 8px;
  font-size: 15px;
}
.content .setting{
  display: flex;
  margin-top: -5px;
  padding: 5px 12px;
  border-top: 1px solid #ccc;
}
.content .share{
  position: relative;
  justify-content: space-between;
}
.share .share-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  right: -200px;
  top: -35px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
.share:hover .share-menu{
  opacity: 1;
  pointer-events: auto;
}

.switchPanel {
  visibility: hidden;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  background: rgb(255, 250, 250);
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  z-index: 2;
  justify-content: space-between;
  align-items: center;

}

/* log css */


body.tab-3 {
  color: rgb(102, 102, 102);
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
table.tab-3 {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 0.5rem;
}
#tab-3Head{
  background: #5c6ab9;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

#ledList {
  background: rgb(184, 176, 176)
}



.header__search:focus-within::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 2px solid orange;
  border-radius: 3px;
}



#led_list_head {
  border:1px solid gray;
  text-align: center;
  font-size: 1rem;

}

.changeColor {
   background-color: #e0cfcf;
}


#station_list_body > td,th{
  border:1px solid gray;
  text-align: center;
  font-size: 1.18rem;

}


#led_row:hover {
  background-color: #8a97a0;
}


#station_row:hover {
  background-color: #8a97a0;
}




#total_tbody > td,th{
  text-align: left;
}

#total_tbody > tr:nth-child(even) {
  background: #eaeaed;
}

#total_tbody > tr:nth-child(n) th:last-child {
  width:50px
}

#total_tbody tr:nth-child(n):hover{
  background-color: #8a97a0;
}



/* 회원용/비회원용 헤더 설정 */
.dropdown {
  position: relative;
}

.dropdown-button {
  font-family: inherit;
  font-size: 2.5rem;
  border: none;
  background: none;
}





.dropdown-content button:hover {
  color: white;
  background-color: #606060;
}


